#nav-bar{
    font-size: 20px;
    margin-left: 70vw;
    padding: 10px;
    flex-direction: row;
    display: flex;
    column-gap: 50px;
    
}
































